{% extends 'base.html' %}
{% block body %}
	<section id="login" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-sign-in-alt"></i> Login</h4>
            </div>
            <div class="card-body">
	            {% include 'partials/_alerts.html' %}
              <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
	              {% for field in form %}
                <div class="form-group">
                  {{ field.label }}
                  {{ field }}
                  {{ field.errors }}
	                {{ field.help_text }}
                </div>
	              {% endfor %}
                <input type="submit" value="Log in" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
